@model IEnumerable<ModelMagicClub>

@{
    ViewData["Title"] = "Index";
}

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    Magic Club Request List
                </h5>
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Account
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Requestdate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Joiningdate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="align-middle m-b-30">
                                        <img src="../files/assets/images/@item.ProfilePic" alt="user image" class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>@item.UserID</h6>
                                            <p class="text-muted m-b-0">@item.AccountName</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Requestdate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Joiningdate)
                                </td>
                                <td>
                                    <span class="label label-info">Requested</span>
                                </td>
                                <td>
                                    @if (item.Status == 0)
                                    {
                                        <button class="btn btn-success btn-sm approve" data-id="@item.Id">Approve</button>
                                    }
                                    <span class="label label-success @(item.Status==1?"":"hidden")">Approved</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".hidden").hide();
            $(".approve").click(function () {
                //console.log($(this));
                var cbtn = $(this);
                var id = $(this).attr("data-id");
                //console.log("id is " + id);
                $.ajax({
                    url: "/MagicClub/Approve?id=" + id,
                    success: function (data) {
                        console.log(data);
                        if (data == "success") {
                            cbtn.hide();
                            cbtn.siblings(".label").show();
                        } else {
                            alert(data);
                        }
                    }
                });
            });
        });
    </script>
}