@model IEnumerable<Magicclub>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accountid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requestdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joiningdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accountid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requestdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Joiningdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status == 0)
                    {
                        <button class="btn btn-success btn-sm approve" data-id="@item.Id">Approve</button>
                    }
                    <span class="label label-success @(item.Status==1?"":"hidden")">Approved</span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".hidden").hide();
            $(".approve").click(function () {
                //console.log($(this));
                var cbtn = $(this);
                var id = $(this).attr("data-id");
                //console.log("id is " + id);
                $.ajax({
                    url: "/MagicClub/Approve?id=" + id,
                    success: function (data) {
                        console.log(data);
                        if (data == "success") {
                            cbtn.hide();
                            cbtn.siblings(".label").show();
                        } else {
                            alert(data);
                        }
                    }
                });
            });
        });
    </script>
}