@model IEnumerable<pradeepm.Models.DB.Pins>

@{
    ViewData["Title"] = "Unused";
}

<h2>Unused Pins</h2>

@*<p>
    <a asp-action="Create">Genrate Pins</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Join User", "Join","User", new { pincode=item.PinCode}) 
            </td>
        </tr>
}
    </tbody>
</table>
