@model List<AccountUsers>
@{
    Layout = null;

    var leftaccount = Model.Where(w => w.Side == 1).FirstOrDefault();
    var rightaccount = Model.Where(w => w.Side == 2).FirstOrDefault();
}

@if (leftaccount != null)
{

    <li>
        <a href="#"class="caret" data-id="@leftaccount.Id">
            <div >  @Model[0].AccountId  <div class="label label-info">@Model[0].DisplayName</div> </div>
        </a>
        <ul class="nested"></ul>
    </li>
}
else
{
    <li>
        <a href="#" >
            <span class="">  <span class="label label-warning">Blank Leg</span> </span>
        </a>

    </li>
}
@if (rightaccount != null)
{
    <li>
        <a href="#" class="caret" data-id="@rightaccount.Id">
            <div >  @Model[0].AccountId <div class="label label-info">@Model[0].DisplayName</div> </div>
        </a>
        <ul class="nested"></ul>
    </li>
}
else
{
    <li>
        <a href="#" >
            <span class="">  <span class="label label-warning">Blank Leg</span> </span>
        </a>

    </li>
}
