@model List<AccountUsers>
@{
    Layout = null;

    var leftaccount = Model.Where(w => w.Side == 1).FirstOrDefault();
    var rightaccount = Model.Where(w => w.Side == 2).FirstOrDefault();
    int level = ViewBag.level;
}
@if (level <= 3)
{

if (leftaccount != null)
{

    <li>
        <a href="#"class="caret" data-id="@leftaccount.Id">
            <div>@leftaccount.AccountId  <div class="label label-info">@leftaccount.DisplayName</div> </div>
        </a>
        <ul class="nested">

            @await Component.InvokeAsync("TreeChild", new { upperid = leftaccount.Id, level = level })
        </ul>
    </li>
}
else
{
    <li>
        <a href="#" >
            <span class="">  <span class="label label-warning">Blank Leg</span> </span>
        </a>

    </li>
}
if (rightaccount != null)
{
    <li>
        <a href="#" class="caret" data-id="@rightaccount.Id">
            <div >  @rightaccount.AccountId <div class="label label-info">@rightaccount.DisplayName</div> </div>
        </a>
        <ul class="nested">
            @await Component.InvokeAsync("TreeChild", new { upperid = rightaccount.Id, level = level })
        </ul>
    </li>
}
else
{
    <li>
        <a href="#" >
            <span class="">  <span class="label label-warning">Blank Leg</span> </span>
        </a>

    </li>
}
}
